.DLbutton {
    width: 250px;
    height: 125px;
    border: none;
    border-radius: 50px 50px 50px 50px / 62px 62px 62px 62px;
    transform: scale(1);
    transition: all 150ms ease-out;
    background-color: $secondaryColorA;
    position: absolute;
    top: 25vh;
    right: 5vw;
    color: white;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover {
        cursor: pointer;
        transform: scale(1.15);
        background-color: $secondaryColor;
        box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    @include mobile {
        width: 125px;
        height: 63px;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    @include xsmobile {
        width: 125px;
        height: 63px;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    @include smalldesk {
        width: 125px;
        height: 63px;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    @include lores {
        width: 125px;
        height: 63px;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }
}
