.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    & div:first-child {
        width: 50px;
        height: 150px;
        color: red;
    }
}
