.loader {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        43deg,
        rgb(0, 182, 70) 0%,
        rgb(9, 121, 74) 30%,
        rgba(0, 11, 131, 1) 100%
    );
    opacity: 1;
    animation: loaderFade 2000ms 2500ms linear forwards;
    & div:first-child {
        width: 10px;
        height: 40px;
        background-color: lighten($secondaryColor, 33%);
        border-radius: 5px 5px 5px 5px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:nth-child(2) {
        width: 15px;
        height: 55px;
        background-color: lighten($secondaryColor, 25%);
        border-radius: 7px 7px 7px 7px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:nth-child(3) {
        width: 20px;
        height: 66px;
        background-color: lighten($secondaryColor, 20%);
        border-radius: 10px 10px 10px 10px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:nth-child(4) {
        width: 30px;
        height: 80px;
        background-color: $secondaryColor;
        border-radius: 15px 15px 15px 15px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:nth-child(5) {
        width: 20px;
        height: 66px;
        background-color: lighten($secondaryColor, 25%);
        border-radius: 10px 10px 10px 10px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:nth-child(6) {
        width: 15px;
        height: 55px;
        background-color: lighten($secondaryColor, 20%);
        border-radius: 7px 7px 7px 7px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
    & div:last-child {
        width: 10px;
        height: 40px;
        background-color: lighten($secondaryColor, 33%);
        border-radius: 5px 5px 5px 5px;
        transform: scaleY(0);
        margin: 0 15px;
        animation: loadingBars 750ms ease-in-out infinite backwards alternate;
        animation-delay: random(100) * 12ms;
    }
}
