@keyframes fadeOut {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    99% {
        transform: translateX(0) translateY(0) scale(0);
    }
    100% {
        transform: translateX(0) translateY(100vh) scale(0);
    }
}

@keyframes loadingFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadingFadeSlide {
    from {
        opacity: 0;
        transform: translateX(25vh);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes loadingBars {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes loaderFade {
    from {
        transform: scale(1);
        opacity: 1;
    }
    99% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes burgerTop {
    0% {
        transform: translateY(0) rotate(0);
        background-color: white;
    }
    50% {
        transform: translateY(13px) rotate(0);
    }
    to {
        transform: translateY(13px) rotate(45deg);
        background-color: $secondaryColor;
    }
}

@keyframes burgerBottom {
    0% {
        transform: translateY(0) rotate(0);
        background-color: white;
    }
    50% {
        transform: translateY(-13px) rotate(0);
    }
    to {
        transform: translateY(-13px) rotate(-45deg);
        background-color: $secondaryColor;
    }
}

@keyframes burgerTopOFF {
    0% {
        transform: translateY(13px) rotate(45deg);
        background-color: $secondaryColor;
    }
    50% {
        transform: translateY(13px) rotate(0);
    }
    to {
        transform: translateY(0) rotate(0);
        background-color: white;
    }
}

@keyframes burgerBottomOFF {
    0% {
        transform: translateY(-13px) rotate(-45deg);
        background-color: $secondaryColor;
    }
    50% {
        transform: translateY(-13px) rotate(0);
    }
    to {
        transform: translateY(0) rotate(0);
        background-color: white;
    }
}
