@-webkit-keyframes fadeOut {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  99% {
    transform: translateX(0) translateY(0) scale(0);
  }
  100% {
    transform: translateX(0) translateY(100vh) scale(0);
  }
}
@keyframes fadeOut {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  99% {
    transform: translateX(0) translateY(0) scale(0);
  }
  100% {
    transform: translateX(0) translateY(100vh) scale(0);
  }
}
@-webkit-keyframes loadingFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadingFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loadingFadeSlide {
  from {
    opacity: 0;
    transform: translateX(25vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadingFadeSlide {
  from {
    opacity: 0;
    transform: translateX(25vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes loadingBars {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes loadingBars {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-webkit-keyframes loaderFade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loaderFade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadingFromRight {
  0% {
    transform-origin: right;
    transform: translateX(100vw) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadingFromRight {
  0% {
    transform-origin: right;
    transform: translateX(100vw) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadingFromLeft {
  0% {
    transform: translateX(-50vw) scale(0) rotateY(90deg);
  }
  100% {
    transform: translateX(0) scale(1) rotateY(0deg);
  }
}
@keyframes fadingFromLeft {
  0% {
    transform: translateX(-50vw) scale(0) rotateY(90deg);
  }
  100% {
    transform: translateX(0) scale(1) rotateY(0deg);
  }
}
@-webkit-keyframes fadingOutLeft {
  0% {
    transform-origin: left;
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw) scale(0);
    opacity: 0;
  }
}
@keyframes fadingOutLeft {
  0% {
    transform-origin: left;
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw) scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadingOutRight {
  0% {
    transform: translateX(0) scale(1) rotateY(0deg);
  }
  100% {
    transform: translateX(50vw) scale(0) rotateY(-90deg);
  }
}
@keyframes fadingOutRight {
  0% {
    transform: translateX(0) scale(1) rotateY(0deg);
  }
  100% {
    transform: translateX(50vw) scale(0) rotateY(-90deg);
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.loader div:first-child {
  width: 50px;
  height: 150px;
  color: red;
}

.navmenu {
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-animation: loadingFadeSlide 750ms 2250ms ease forwards 1;
          animation: loadingFadeSlide 750ms 2250ms ease forwards 1;
}
.navmenu__profilePic {
  width: 66%;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0px 0px 25px 2px rgb(0, 3, 32);
  overflow: hidden;
  position: relative;
}
.navmenu__profilePic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navmenu__profilePic__blazeFX1 {
  width: 3%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.navmenu__profilePic__blazeFX2 {
  width: 7%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 5;
}
.navmenu__profilePic__blazeFX3 {
  width: 4%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 5;
}
.navmenu__tabs {
  width: 100%;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navmenu__tabs__unique {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.navmenu__tabs__unique::before {
  content: "";
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transform-origin: left;
  transition: all 250ms ease-in-out;
  background-color: rgb(157, 192, 0);
  position: absolute;
}
.navmenu__tabs__unique i {
  color: white;
  position: absolute;
  left: 5%;
  transform: translateX(20vw) scale(0) rotate(0deg);
  font-size: 24px;
  transition: all 250ms ease-in-out;
}
.navmenu__tabs__unique span {
  font-size: 28px;
  text-align: center;
  transform: skew(0deg);
  position: absolute;
  right: 3%;
  transition: all 200ms 50ms ease-in-out;
}
.navmenu__tabs__unique:hover {
  cursor: pointer;
}
.navmenu__tabs__unique:hover span {
  font-size: 42px;
  transform: skew(-15deg);
  margin-right: 10%;
}
.navmenu .selected::before {
  transform: translateX(0);
  border-radius: 5% 0 0 5%/50% 0 0 50%;
}
.navmenu .selected span {
  font-size: 42px;
  transform: skew(-15deg);
  margin-right: 10%;
}
.navmenu .selected i {
  transform: translateX(0) scale(1) rotate(360deg);
}
.navmenu__credits {
  margin-bottom: 10px;
}

.mainContent {
  width: 75%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-right: -20px;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
.mainContent::-webkit-scrollbar {
  display: none;
}
.mainContent__desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainContent__desc__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 15%;
  -webkit-animation: loadingFade 750ms 750ms ease-in-out forwards 1;
          animation: loadingFade 750ms 750ms ease-in-out forwards 1;
}
.mainContent__desc__articles {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 10px;
  align-items: center;
  position: relative;
  opacity: 0;
  -webkit-animation: loadingFade 750ms 1500ms ease-in-out forwards 1;
          animation: loadingFade 750ms 1500ms ease-in-out forwards 1;
}
.mainContent__desc__articles__prez {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 20px 0 20px;
  transform: translateX(0) translateY(0) scale(1);
  transition: all 300ms ease-in-out;
  transform-origin: top;
}
.mainContent__desc__articles__prez p {
  font-size: 28px;
  text-align: justify;
  color: white;
  padding: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
  line-height: 150%;
}
.mainContent__desc__articles__techs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 0;
  color: white;
  transform: translateX(0) translateY(100vh) scale(0);
  transition: all 300ms ease-in-out;
  transform-origin: top;
}
.mainContent__desc__articles__techs__baseTechs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
}
.mainContent__desc__articles__techs__advancedTechs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
}
.mainContent__desc__articles__techs i {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 75px;
  margin-left: 20px;
}
.mainContent__desc__articles__techs i span {
  text-align: center;
  font-size: 48px;
  color: rgb(157, 192, 0);
  font-weight: normal;
}
.mainContent__desc__articles__techs p {
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.mainContent__desc__articles__projects {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  box-shadow: 0px -13px 10px -10px rgba(157, 192, 0, 0.808);
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateX(0) translateY(100vh) scale(0);
  transform-origin: top;
  transition: all 300ms ease-in-out;
}
.mainContent__desc__articles__projects__unique {
  width: 95%;
  margin: 30px 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.45);
}
.mainContent__desc__articles__projects__unique__desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainContent__desc__articles__projects__unique__desc__text {
  box-shadow: 0px -13px 10px -10px rgba(157, 192, 0, 0.808);
  font-size: 28px;
  text-align: justify;
  color: white;
  margin-top: 20px;
  padding: 10px 10px;
}
.mainContent__desc__articles__projects__unique__desc__image {
  width: 100%;
  padding: 10px 10px;
}
.mainContent__desc__articles__projects__unique__desc__video {
  width: 100%;
  padding: 10px 10px;
}
.mainContent__desc__articles__projects__unique__desc__buttons {
  margin: 25px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainContent__desc__articles__projects__unique__desc__buttons .projectButton {
  text-decoration: none;
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 50px 50px 50px 50px/62px 62px 62px 62px;
  transform: scale(1);
  transition: all 150ms ease-out;
  background-color: rgba(157, 192, 0, 0.808);
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainContent__desc__articles__projects__unique__desc__buttons .projectButton:hover {
  cursor: pointer;
  transform: scale(1.15);
  background-color: rgb(157, 192, 0);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.mainContent__desc__articles__resume {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 0;
  transform: translateX(0) translateY(100vh) scale(0);
  transition: all 300ms ease-in-out;
}
.mainContent__desc__articles__resume img {
  width: 40%;
  transform: translateX(0) scale(1);
  transform-origin: top;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 5vw;
  transition: all 150ms ease-out;
}
.mainContent__desc__articles__resume img:hover {
  cursor: pointer;
}
.mainContent__desc__articles__resume .zoomResume {
  width: 90%;
}
.mainContent__desc__articles__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 20%;
  color: white;
  transform: translateX(0) translateY(100vh) scale(0);
  transition: all 300ms ease-in-out;
  transform-origin: top;
}
.mainContent__desc__articles__contact__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}
.mainContent__desc__articles__contact__link i {
  font-size: 60px;
  color: rgb(157, 192, 0);
  transform: scale(1);
  transition: all 200ms ease-out;
  margin-right: 20px;
}
.mainContent__desc__articles__contact__link p {
  color: white;
  font-size: 36px;
  transform: translateX(0) scale(1) skew(0deg);
  transform-origin: left;
  margin-left: 15px;
  transition: all 200ms ease-out;
}
.mainContent__desc__articles__contact__link:hover {
  cursor: pointer;
}
.mainContent__desc__articles__contact__link:hover i {
  transform: scale(1.2);
}
.mainContent__desc__articles__contact__link:hover p {
  color: rgb(157, 192, 0);
  transform: translateX(10px) scale(1.2) skew(-15deg);
}
.mainContent__desc__articles .fadeOut {
  -webkit-animation: fadeOut 100ms ease-in-out forwards 1;
          animation: fadeOut 100ms ease-in-out forwards 1;
}
.mainContent__desc__articles .fadeIn {
  transform: translateX(0) translateY(0) scale(1);
}
.mainContent__desc__articles .awaiting {
  transform: translateX(0) translateY(100vh) scale(0);
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  border-radius: 45% 45% 0 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

* {
  font-family: "Play", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.loader {
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  -webkit-animation: loaderFade 1000ms 2000ms linear forwards;
          animation: loaderFade 1000ms 2000ms linear forwards;
}
.loader div:first-child {
  width: 10px;
  height: 40px;
  background-color: #e4ff69;
  border-radius: 5px 5px 5px 5px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}
.loader div:nth-child(2) {
  width: 15px;
  height: 55px;
  background-color: #dcff41;
  border-radius: 7px 7px 7px 7px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 204ms;
          animation-delay: 204ms;
}
.loader div:nth-child(3) {
  width: 20px;
  height: 66px;
  background-color: #d8ff27;
  border-radius: 10px 10px 10px 10px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 252ms;
          animation-delay: 252ms;
}
.loader div:nth-child(4) {
  width: 30px;
  height: 80px;
  background-color: rgb(157, 192, 0);
  border-radius: 15px 15px 15px 15px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 552ms;
          animation-delay: 552ms;
}
.loader div:nth-child(5) {
  width: 20px;
  height: 66px;
  background-color: #dcff41;
  border-radius: 10px 10px 10px 10px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 108ms;
          animation-delay: 108ms;
}
.loader div:nth-child(6) {
  width: 15px;
  height: 55px;
  background-color: #d8ff27;
  border-radius: 7px 7px 7px 7px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 1020ms;
          animation-delay: 1020ms;
}
.loader div:last-child {
  width: 10px;
  height: 40px;
  background-color: #e4ff69;
  border-radius: 5px 5px 5px 5px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 324ms;
          animation-delay: 324ms;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(43deg, rgb(0, 182, 70) 0%, rgb(9, 121, 74) 30%, rgb(0, 11, 131) 100%);
}

main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.DLbutton {
  width: 250px;
  height: 125px;
  border: none;
  border-radius: 50px 50px 50px 50px/62px 62px 62px 62px;
  transform: scale(1);
  transition: all 150ms ease-out;
  background-color: rgba(157, 192, 0, 0.808);
  position: absolute;
  top: 25vh;
  right: 5vw;
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.DLbutton:hover {
  cursor: pointer;
  transform: scale(1.15);
  background-color: rgb(157, 192, 0);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 15px 0;
}

h2 {
  font-size: 35px;
  text-align: center;
  color: rgb(157, 192, 0);
}

h3 {
  font-size: 30px;
  text-align: center;
  color: white;
}

strong {
  color: rgb(157, 192, 0);
}/*# sourceMappingURL=style.css.map */