@-webkit-keyframes fadeOut {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  99% {
    transform: translateX(0) translateY(0) scale(0);
  }
  100% {
    transform: translateX(0) translateY(100vh) scale(0);
  }
}
@keyframes fadeOut {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  99% {
    transform: translateX(0) translateY(0) scale(0);
  }
  100% {
    transform: translateX(0) translateY(100vh) scale(0);
  }
}
@-webkit-keyframes loadingFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadingFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loadingFadeSlide {
  from {
    opacity: 0;
    transform: translateX(25vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadingFadeSlide {
  from {
    opacity: 0;
    transform: translateX(25vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes loadingBars {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes loadingBars {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-webkit-keyframes loaderFade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loaderFade {
  from {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.loader div:first-child {
  width: 50px;
  height: 150px;
  color: red;
}

.navmenu {
  width: 25vw;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-animation: loadingFadeSlide 750ms 2250ms ease forwards 1;
          animation: loadingFadeSlide 750ms 2250ms ease forwards 1;
}
.navmenu__profilePic {
  width: 250px;
  height: 280px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0px 0px 25px 2px rgb(0, 3, 32);
  overflow: hidden;
  position: relative;
}
.navmenu__profilePic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navmenu__profilePic__blazeFX1 {
  width: 3%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.navmenu__profilePic__blazeFX2 {
  width: 7%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 5;
}
.navmenu__profilePic__blazeFX3 {
  width: 4%;
  height: 100%;
  transform: skew(15deg);
  background-color: rgba(157, 192, 0, 0.808);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 5;
}
.navmenu__tabs {
  width: 100%;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navmenu__tabs__unique {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.navmenu__tabs__unique::before {
  content: "";
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transform-origin: left;
  transition: all 250ms ease-in-out;
  background-color: rgb(157, 192, 0);
  position: absolute;
}
.navmenu__tabs__unique i {
  color: white;
  position: absolute;
  left: 5%;
  transform: translateX(5vw) scale(0) rotate(0deg);
  font-size: 24px;
  transition: all 200ms ease-in-out;
}
.navmenu__tabs__unique span {
  font-size: 28px;
  text-align: center;
  transform: skew(0deg);
  position: absolute;
  right: 3%;
  transition: all 200ms 50ms ease-in-out;
}
.navmenu__tabs__unique:hover {
  cursor: pointer;
}
.navmenu__tabs__unique:hover span {
  font-size: 42px;
  transform: skew(-15deg);
  margin-right: 10%;
}
.navmenu .selected::before {
  transform: translateX(0);
  border-radius: 5% 0 0 5%/50% 0 0 50%;
}
.navmenu .selected span {
  font-size: 42px;
  transform: skew(-15deg);
  margin-right: 10%;
}
.navmenu .selected i {
  transform: translateX(0) scale(1) rotate(360deg);
}
.navmenu__credits {
  margin-bottom: 10px;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
}
.mainContent__desc {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mainContent__desc__titles {
  display: block;
  height: 20%;
  opacity: 0;
  -webkit-animation: loadingFade 750ms 750ms ease-in-out forwards 1;
          animation: loadingFade 750ms 750ms ease-in-out forwards 1;
}
.mainContent__desc__articles {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  -webkit-animation: loadingFade 750ms 1500ms ease-in-out forwards 1;
          animation: loadingFade 750ms 1500ms ease-in-out forwards 1;
}
.mainContent__desc__articles__prez {
  display: block;
  position: absolute;
  width: 90%;
  font-size: 24px;
  margin: 20px 0 20px;
  transform: translateX(0) translateY(0) scale(1);
  transition: all 300ms ease-in-out;
  line-height: 150%;
  padding: 10px;
  text-align: justify;
  color: white;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
}
.mainContent__desc__articles__techs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  position: absolute;
  color: white;
  transform: translateX(0) translateY(100vh) scale(0);
  transition: all 300ms ease-in-out;
}
.mainContent__desc__articles__techs__baseTechs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
}
.mainContent__desc__articles__techs__advancedTechs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 20px 0 0 0;
  box-shadow: -12px -13px 10px -10px rgba(157, 192, 0, 0.808);
}
.mainContent__desc__articles__techs i {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 75px;
  margin-left: 20px;
}
.mainContent__desc__articles__techs i span {
  text-align: center;
  font-size: 48px;
  color: rgb(157, 192, 0);
  font-weight: normal;
}
.mainContent__desc__articles__techs p {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.mainContent__desc__articles .fadeOut {
  -webkit-animation: fadeOut 100ms ease-in-out forwards 1;
          animation: fadeOut 100ms ease-in-out forwards 1;
}
.mainContent__desc__articles .fadeIn {
  transform: translateX(0) translateY(0) scale(1);
}
.mainContent__desc__articles .awaiting {
  transform: translateX(0) translateY(100vh) scale(0);
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  border-radius: 45% 45% 0 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

* {
  font-family: "Play", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  -webkit-animation: loaderFade 1000ms 2000ms linear forwards;
          animation: loaderFade 1000ms 2000ms linear forwards;
}
.loader div:first-child {
  width: 10px;
  height: 40px;
  background-color: #e4ff69;
  border-radius: 5px 5px 5px 5px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 468ms;
          animation-delay: 468ms;
}
.loader div:nth-child(2) {
  width: 15px;
  height: 55px;
  background-color: #dcff41;
  border-radius: 7px 7px 7px 7px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 1176ms;
          animation-delay: 1176ms;
}
.loader div:nth-child(3) {
  width: 20px;
  height: 66px;
  background-color: #d8ff27;
  border-radius: 10px 10px 10px 10px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 972ms;
          animation-delay: 972ms;
}
.loader div:nth-child(4) {
  width: 30px;
  height: 80px;
  background-color: rgb(157, 192, 0);
  border-radius: 15px 15px 15px 15px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 732ms;
          animation-delay: 732ms;
}
.loader div:nth-child(5) {
  width: 20px;
  height: 66px;
  background-color: #dcff41;
  border-radius: 10px 10px 10px 10px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 324ms;
          animation-delay: 324ms;
}
.loader div:nth-child(6) {
  width: 15px;
  height: 55px;
  background-color: #d8ff27;
  border-radius: 7px 7px 7px 7px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 132ms;
          animation-delay: 132ms;
}
.loader div:last-child {
  width: 10px;
  height: 40px;
  background-color: #e4ff69;
  border-radius: 5px 5px 5px 5px;
  transform: scaleY(0);
  margin: 0 15px;
  -webkit-animation: loadingBars 750ms ease-in-out infinite backwards alternate;
          animation: loadingBars 750ms ease-in-out infinite backwards alternate;
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(43deg, rgb(0, 182, 70) 0%, rgb(9, 121, 74) 30%, rgb(0, 11, 131) 100%);
}

h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 15px 0;
}

h2 {
  font-size: 35px;
  text-align: center;
  color: rgb(157, 192, 0);
}

strong {
  color: rgb(157, 192, 0);
}/*# sourceMappingURL=style.css.map */