@import './utils/variables';
@import './utils/keyframes';
@import './layout/navmenu';
@import './layout/mainContent';
@import './layout/footer';

* {
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.WIP {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(
        43deg,
        rgba(0, 182, 119, 1) 0%,
        rgba(9, 121, 112, 1) 30%,
        rgba(0, 11, 131, 1) 100%
    );
    & p {
        font-size: 42px;
        color: white;
        text-align: center;
    }
    & img {
        transform: rotate(0deg) scale(0);
        transform-origin: top;
        height: 50vh;
        animation: panelRotate 1300ms linear 1 both;
    }
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(0, 182, 119);
    background: linear-gradient(
        43deg,
        rgba(0, 182, 119, 1) 0%,
        rgba(9, 121, 112, 1) 30%,
        rgba(0, 11, 131, 1) 100%
    );
}

h1 {
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 30px;
    color: $secondaryColor;
}
